<div class="form-container">
  <h1>Editing Park</h1>
    <%= render 'form', park: @park %>

    <h4> current photo: </h4>
      <img src="http://res.cloudinary.com/dcia1leyj/image/upload/c_fill,h_200,w_200/<%= @park.picture %>">

    <br><br>

    <button type="button" class="btn btn-lg btn-default">
      <%= link_to 'Show', @park %>
    </button>

    <button type="button" class="btn btn-lg btn-default">
      <%= link_to 'Back', parks_path %>
    </button>
    
</div>
