<div class="container">
  <div class="form-container">

<h1>Editing Park</h1>

<%= render 'form', park: @park %>


<button type="button" class="btn btn-lg btn-default">
  <%= link_to 'Show', @park %>
</button>



<button type="button" class="btn btn-lg btn-default">
  <%= link_to 'Back', parks_path %>
</button>


</div>
</div>
