<div class="form-container">
  <h1>Create New Park</h1>

  <%= render 'form', park: @park %>

  <br><br>

  <button type="button" class="btn btn-lg btn-default"><%= link_to 'Back to All Parks', parks_path %></button>

</div>
