// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home-container {
  z-index: 1;
  text-align: center;
  width: 350px;
  margin:0 auto;
}
