// Place all the styles related to the parks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
  background: none;
}

.bg-container {
}

.panel-container {
  width: 80%;
  margin: 200px auto;
  text-align: center;
  line-height: 1.2em;
  font-size: 1.2em;
}

img {
  padding: 20px;
}

.form-container {
  width: 60%;
  margin: 0 auto;
}

// .panel-default {
//   background-color: rgba(245,245,245,0);
// }
// .panel-transparent .panel-heading{
//   background-color: rgba(245,245,245,0);
// }
//
// .panel-transparent .panel-body{
//     background: rgba(46, 51, 56, 0.2)!important;
// }


//
// .panel-body {
//   background-color: rgba(225,225,225,0.2);
//   // background-color: red;
// }

//
// .home-container {
//   width: 350px;
//   margin: 60% auto;
//   padding: 20px;
//   background: white;
//   background-color: rgba(225,225,225,0.6);
//   text-align: center;
//   border-radius: 20px;
// }
//
//
// <div class="bg-container" style="background:url(<%= @park.picture %>); background-size: 100% 100%;">
